<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.mapper.extend.MsgReceiptMapperExtend">
  <resultMap id="BaseResultMap" type="com.chen.packet.ReceiptPacket">
    <result column="msg_id" jdbcType="INTEGER" property="msg_id" />
    <result column="msg_type" jdbcType="INTEGER" property="msg_type" />
    <result column="msg_status" jdbcType="INTEGER" property="msg_status" />
    <result column="sender_id" jdbcType="VARCHAR" property="sender_id" />
    <result column="receiver_id" jdbcType="VARCHAR" property="receiver_id" />
  </resultMap>
  <insert id="insert" parameterType="com.chen.packet.ReceiptPacket">
    insert into tb_msg_receipt (msg_id, msg_type, msg_status, 
      sender_id, receiver_id)
    values (#{msg_id,jdbcType=INTEGER}, #{msg_type,jdbcType=INTEGER}, #{msg_status,jdbcType=INTEGER}, 
      #{sender_id,jdbcType=VARCHAR}, #{receiver_id,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chen.packet.ReceiptPacket">
    insert into tb_msg_receipt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="msg_id != null">
        msg_id,
      </if>
      <if test="msg_type != null">
        msg_type,
      </if>
      <if test="msg_status != null">
        msg_status,
      </if>
      <if test="sender_id != null">
        sender_id,
      </if>
      <if test="receiver_id != null">
        receiver_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="msg_id != null">
        #{msg_id,jdbcType=INTEGER},
      </if>
      <if test="msg_type != null">
        #{msg_type,jdbcType=INTEGER},
      </if>
      <if test="msg_status != null">
        #{msg_status,jdbcType=INTEGER},
      </if>
      <if test="sender_id != null">
        #{sender_id,jdbcType=VARCHAR},
      </if>
      <if test="receiver_id != null">
        #{receiver_id,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
</mapper>